
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:aliceblue;

}
.img-logo{
    width: 48px;
    height: 48px;
}

.navbar{
    display: flex;
    width: 100%;
    background-color: gainsboro;
    height: 96px;
    justify-content: center; 
    text-align: center;
    padding: 19px 96px;
    align-items: center;
    gap: 72px;
    font-size: 16px;
}
.titulo{
    margin-top: 10px;
    justify-content: left;
    font-size: large;
    font-weight: bold;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6.12px;
    margin-right: 35px;
}
.material-symbols-outlined{
    width: 48px;
    margin-left: 0;
    vertical-align: middle;
}

.nav-links{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav-links li  a{
    text-decoration: none;
    color: #000;
    padding: 5px 10px;

}
nav .search-box{
    display: flex;
    margin: auto 0;
    background-color: #fff;
    border-radius: 8px;
    opacity: 0.64;
    gap: 0 100px;  
}

.search-input{
    background-color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0 0 0 8%;
    outline: none;
    color: black;
    opacity: 0.64;
    font-size: 15px;
}
nav .search-box .lupa {
    color: #000;
    position: relative;
    z-index: 1;
    margin-right: 3px;
}

.nav-item{
    list-style: none;
}

.nav-item-dropdown{
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;

}
.nav-item-link{
    transition: all ease-in-out 0.05s;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: baseline;
    gap: 30px;
}
.nav-item-link:hover{
    scale: 1.05;
}
.logo-search-container{
    display: flex;
    gap: 25px;
}

.vertical-menu{
    position: absolute;
    display: none;
    list-style: none;
    background-color:#fff;
    top: 100%; 
    left: 0; 
    border: 1px solid #000;
    border-radius: 0 0 8px 8px;
    border-top: none;
}
.vertical-menu >li {
    text-align: center;
    padding: 5px;
    display: block;
    border-bottom: 1px solid #000;
}
.vertical-menu > li:hover{
    background-color: #f3ddbd;
} 
.nav-item-dropdown:hover .vertical-menu{
    display: block;
}
.nombre{
    display: flex;
    font-weight: bolder;
    text-decoration: underline;
    justify-content: center;
    font-size: 48px;
}

.tarjetas{
    display:flex;
    flex-direction:row;
    justify-content:space-between;   
    margin-left: 15%;
    margin-right: 15%; 
    margin-top: 60px;
  }
.tarjeta{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  width:250px;
  background-color: #fff;
  border: 1px solid black;
  font-family: sans-serif;
}

.cuerpo{
  padding: 10px;
}
.pie{
background: #fff;
  border-radius:0 0 15px 15px;
  padding: 10px;
  text-align:center;
}
.carta-titulo{
    font-size: large;
    font-weight: bolder;
}
.carta-texto{
    margin-top: 10px;
}
.comprar-btn{
    margin-top: 10px;
    height: 40px;
    width: 80px;
    background-color: blue;
    color: #fff;
    border-radius: 8px;
}
.derecho{
    display: flex;
    font-weight: bold;
    font-size: medium;
    justify-content: center;
}
